@page "/"

<h1>420Connect</h1>

<h2>420Connect is a B2B platform for the German cannabis industry. Our goal is to connect dipensaries and vendors by providing access to medical information for products and ordering capabilities on a centralized platform. </h2>

<h3>Access to product information and listing is limited to healthcare practitioners authorized by the German Federal authority</h3>

