@page "/"
<div class="homebody">
    <div class="hometext">
    <h1>420Connect</h1>
    
    <h4>420Connect is a B2B platform for the German cannabis industry. </h4>
    <div>
        <h5>Our goal is to connect dipensaries and vendors by providing access to medical information for products and ordering capabilities on a centralized platform. </h5></div>

    <h5>Access to product information and listing is limited to healthcare practitioners in accordance with German Federal guidelines</h5>
</div>
        </div>
