@page "/VendorRegistration";
@using dk.via.ftc.web.Models;
@using dk.via.ftc.web.Data;
@inject IAdminService AdminService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h3>VendorRegistration</h3>
<EditForm Model="@newVendorAdmin" OnValidSubmit="@AddNewVendorAdmin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        UserName:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.UserName" />
    </div>
    <div class="form-group">
        Password:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.Password" />
    </div>
    <div class="form-group">
        Email:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.Email" />
    </div>
    <div class="form-group">
        First Name:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.FirstName" />
    </div>
    <div class="form-group">
        Last Name:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.LastName" />
    </div>
    <div class="form-group">
        Vendor Name:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.VendorName" />
    </div>
    <div class="form-group">
        Vendor License:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.vendorLicense" />
    </div>
    <div class="form-group">
        Vendor Country:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.Country" />
    </div>
    <div class="form-group">
        Vendor State/Province:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.stateProvince" />
    </div>
    <div class="form-group">
        Vendor City:<br />
        <InputTextArea rows="1" @bind-Value="newVendorAdmin.City" />
    </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>
</EditForm>

@code {
    private readonly VendorAdminView newVendorAdmin = new VendorAdminView();
    private readonly VendorView newVendor = new VendorView();

    private async Task AddNewVendorAdmin()
    {
        //await AdminService.AddVendorAsync(newVendor);
        await AdminService.AddVendorAdminAsync(newVendorAdmin);
        NavigationManager.NavigateTo("/", true);
    }
}